@import url(https://fonts.googleapis.com/css?family=Outfit);
:root {
        /* Light theme */
  --bg-col            : #C8FFD4;
  --bg-col2           : rgb(253, 237, 218);
  --bg-col3           : rgb(255, 232, 208);
  --navbar-col        : #1bdaa0;
  --ascent-col        : #14C38E;
  --ascent-col-2      : #000000ca;
  --hamburger-menu-col: #ffd8a963;
  --shadow-alpha      : rgba(0, 0, 0, 0.45);
  --shadow-alpha-2    : rgba(0, 0, 0, 0.55);
  --font-col          : rgb(46, 46, 46);
  --font-col2         : rgb(61, 61, 61);
  --font-weight       : 500;
  --selection-col     : rgb(255, 255, 255);
  --h-style-col       : rgb(20, 20, 20);
  --UI-font-col       : rgb(0, 0, 0);
  --UI-inactive-col   : #2b7e65;
  --UI-border-col     : rgba(0, 0, 0, 0.05);
  --gototop-bg-col    : rgba(255, 197, 126, 0.2);
  --theme-icon        : "\ea04";
}
.dark-mode {
        /* Dark theme */
  --bg-col            : rgb(30, 32, 65);
  --bg-col2           : rgb(40, 43, 78);
  --bg-col3           : rgb(44, 47, 85);
  --ascent-col        : rgb(183, 188, 255);
  --hamburger-menu-col: rgba(61, 64, 126, 0.705);
  --shadow-alpha      : rgba(0, 0, 0, 0.55);
  --shadow-alpha-2    : rgba(0, 0, 0, 0.75);
  --font-col          : rgb(255, 255, 255);
  --font-col2         : rgb(242, 243, 255);
  --font-weight       : 400;
  --selection-col     : rgb(0, 0, 0);
  --h-style-col       : rgb(255, 255, 255);
  --UI-font-col       : rgb(255, 255, 255);
  --UI-inactive-col   : rgba(161, 169, 255, 0.5);
  --UI-border-col     : rgba(255, 255, 255, 0.05);
  --gototop-bg-col    : rgba(126, 141, 255, 0.2);
  --theme-icon        : "\e0a1";
}
.App {
  align-items        : center;
  align-content      : center;
  align-self         : center;
  text-align         : center;
  margin             : 0 auto;
  background-image   : url("../images/bg_opt.svg");
  background-size    : cover;
  background-position: center center;
  background-repeat  : no-repeat;
  background-color   : var(--bg-col);
  justify-content    : center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

.container {
  max-width     : 980px;
  margin        : auto;
  padding-bottom: 50vh;
  min-height    : 100vh;
  max-width     : 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#nav-bar {
  display         : block;
  align-items     : center;
  justify-content : center;
  background-color: var(--ascent-col);
  position        : fixed;
  overflow        : hidden;
  z-index         : 6;
  top             : 0;
  width           : 100%;
  height          : 50px;
        /* border-radius   : 10px; */
  text-transform: uppercase;
  font-family   : "Outfit";
  font-size     : 1.5em;
        /* margin: 0 auto; */
  padding-bottom: 100px;
        /* padding: 34px 0 34px 0; */
} 
@media screen and (max-width: 769px) {
  #nav-bar {
    font-size: 10em;
  }
}
.main-logo {
  display       : block;
  flex-direction: column;
  align-items   : center;
  padding       : 25vh 0 25vh 0;
  font-size     : calc(10px + 2vmin);
  color         : rgb(0, 0, 0);
  font-family   : "Outfit";
  font-size     : 15em;
  transition    : 0.5s;
  text-shadow   : 0px 0px 0px var(--ascent-col-2);
  animation     : slide 3s ease-out infinite;
}
.main-logo>p:first-child::first-letter {
  font-size: 1.5em;
}
@keyframes slide 
{
  5% {
    text-shadow: 0.05em 0.03em 2px var(--ascent-col-2);
  }
  70% {
    text-shadow: -0.07em 0.03em 2px var(--ascent-col-2);
    
  }
  75% {
    text-shadow: 0px 0px 0px var(--ascent-col-2);
    
  }
}
.sub-logo {
  display        : block;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  font-size      : calc(10px + 2vmin);
  color          : rgb(0, 0, 0);
  font-family    : "Outfit";
  font-size      : 0.2em;
  transition     : 0.5s;
  word-spacing   : 2em;
  text-shadow    : 0px 0px rgba(0, 0, 0, 0.7);
        /* animation   : spacing 3s ease-in-out infinite; */
}
@keyframes spacing {
        /* 25% {
    text-shadow: -10px 10px rgba(0, 0, 0, 0.7);
  } */
  90% {
    word-spacing: 2em;
  }
}
@media screen and (max-width: 769px) {
  .main-logo {
    font-size: 9em;
    padding  : 20vh 0 20vh 0;
  }
}

.App-link {
  color: #14C38E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Projects {
  margin-top: 10em;
    /* border-top   : 5px solid var(--ascent-col);
  border-bottom: 5px solid var(--ascent-col); */
  border-radius: 50px;
}

#Projects>div {
    /* margin        : 5em; */
  padding-top   : 50px;
  border-top    : 7px solid var(--ascent-col);
  border-bottom : 7px solid var(--ascent-col);
  border-radius : 50px;
  padding-bottom: 50px;
}
#Projects>header {
  margin-top    : 0.5em;
  margin-bottom : 1em;
  margin-left   : auto;
  margin-right  : auto;
  padding       : 0;
  font-size     : 6em;
  font-style    : italic;
  letter-spacing: 1em;
  text-transform: uppercase;
}
#Projects h1 {
  text-align    : center;
  font-weight   : 500;
  font-size     : 3em;
  text-transform: uppercase;
  letter-spacing: 0.45em;
}
#Projects p {
  text-align : center;
  font-size  : 2em;
  margin     : 50px 50px;
  font-weight: 500;
}

#Projects img{
  justify-content: center;
  border-radius  : 25px;
  width          : 80%;
  margin         : 50px 0 0 0;
  box-shadow     : 0px 0px 35px rgb(46, 46, 46);
}
.float-right { float: right; }
.float-left { float: left; }
#Projects video{
  justify-content: center;
  border-radius  : 25px;
  margin         : 50px 0 0 0;
  box-shadow     : 0px 0px 35px rgb(46, 46, 46);

}
@media screen and (max-width: 769px) {
  #Projects>header {
    margin-top    : 0.5em;
    font-size     : 2.5em;
    letter-spacing: 1em;
    text-transform: uppercase;
  }
  #Projects h1 {
    letter-spacing: 0.25em;
    font-size     : 1.8em;
  }
  #Projects p {
    text-align: center;
    font-size : 1.5em;
    margin    : 15px;
  }
  #Projects img {
    width : 95%;
    margin: 10px 0 0 0;
}
  #Projects>div {
    margin        : 1em;
    padding-top   : 10px;
    padding-bottom: 10px;
  }
}

.slider-container {
  position: relative;
  width   : 50%;
  height  : 50%;
}

.slider-container img {
  position  : absolute;
  top       : 0;
  left      : 0;
  opacity   : 1;
  transition: opacity 1s ease-in-out;
}

.slider-container img:last-child {
  opacity: 0;
}

.slider-container img:last-child.fade-in {
  opacity: 1;
}

.slider-container img:first-child.fade-out {
  opacity: 0;
}