@import url(https://fonts.googleapis.com/css?family=Outfit:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,600,700);

:root {
        /* Light theme */
  --bg-col            : #C8FFD4;
  --bg-col2           : #1bdaa127;
  --bg-col3           : rgb(255, 232, 208);
  --navbar-col        : #1bdaa0;
  --ascent-col        : #14C38E;
  --ascent-col-2      : #000000ca;
  --hamburger-menu-col: #ffd8a963;
  --shadow-alpha      : rgba(0, 0, 0, 0.45);
  --shadow-alpha-2    : rgba(0, 0, 0, 0.55);
  --font-col          : rgb(46, 46, 46);
  --font-col2         : rgb(61, 61, 61);
  --font-weight       : 500;
  --selection-col     : rgb(255, 255, 255);
  --h-style-col       : rgb(20, 20, 20);
  --UI-font-col       : rgb(0, 0, 0);
  --UI-inactive-col   : #2b7e65;
  --UI-border-col     : rgba(0, 0, 0, 0.05);
  --gototop-bg-col    : rgba(255, 197, 126, 0.2);
  --theme-icon        : "\ea04";
}
.dark-mode {
        /* Dark theme */
  --bg-col            : rgb(30, 32, 65);
  --bg-col2           : rgb(40, 43, 78);
  --bg-col3           : rgb(44, 47, 85);
  --ascent-col        : rgb(183, 188, 255);
  --hamburger-menu-col: rgba(61, 64, 126, 0.705);
  --shadow-alpha      : rgba(0, 0, 0, 0.55);
  --shadow-alpha-2    : rgba(0, 0, 0, 0.75);
  --font-col          : rgb(255, 255, 255);
  --font-col2         : rgb(242, 243, 255);
  --font-weight       : 400;
  --selection-col     : rgb(0, 0, 0);
  --h-style-col       : rgb(255, 255, 255);
  --UI-font-col       : rgb(255, 255, 255);
  --UI-inactive-col   : rgba(161, 169, 255, 0.5);
  --UI-border-col     : rgba(255, 255, 255, 0.05);
  --gototop-bg-col    : rgba(126, 141, 255, 0.2);
  --theme-icon        : "\e0a1";
}

body {
  transition: 0.5s;
}

.App {
  align-items        : center;
  align-content      : center;
  align-self         : center;
  text-align         : center;
  margin             : 0 auto;
  background-image   : url("../images/bg_opt.svg");
  background-size    : cover;
  background-position: center center;
  background-repeat  : no-repeat;
  background-color   : var(--bg-col);
  justify-content    : center;
}
.clearfix::after {
  content: "";
  clear  : both;
  display: table;
}
.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

.container {
  max-width     : 980px;
  margin        : auto;
  padding-bottom: 50vh;
  min-height    : 100vh;
  max-width     : 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#nav-bar {
  display         : block;
  align-items     : center;
  justify-content : center;
  background-color: var(--ascent-col);
  position        : fixed;
  overflow        : hidden;
  z-index         : 6;
  top             : 0;
  width           : 100%;
  height          : 50px;
  text-transform  : uppercase;
  font-family     : "Outfit";
  font-size       : 1.5em;
  padding-bottom  : 100px;
}
#Home {
  background-image   : url(../images/Portrait.svg);
  transform          : translate3d( 0, 4vw,0 );
  background-size    : cover;
  background-position: center center;
  background-repeat  : no-repeat;
}
@media screen and (max-width: 769px) {
  #nav-bar {
    font-size: 10em;
  }
  #Home {
    transform: translate3d( 0, 8vh,0 );
  }
}
.main-logo {
  display       : block;
  flex-direction: column;
  align-items   : center;
  padding       : 25vh 0 25vh 0;
  font-size     : calc(10px + 2vmin);
  color         : rgb(0, 0, 0);
  font-family   : "Montserrat Alternates";
  font-size     : 14em;
  font-weight   : 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-indent   : -0.1em;
  transition    : 0.5s;
  text-shadow   : 0px 0px 0px var(--ascent-col-2);
  animation     : slide 3s ease-out infinite;
}
.main-logo>p:first-child::first-letter {
  font-size: 1.5em;
}

@keyframes slide 
{
  5% {
    text-shadow: 0.05em 0.03em 2px var(--ascent-col-2);
  }
  70% {
    text-shadow: -0.07em 0.03em 2px var(--ascent-col-2);
    
  }
  75% {
    text-shadow: 0px 0px 0px var(--ascent-col-2);
    
  }
}
.sub-logo {
  display        : block;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  font-size      : calc(10px + 2vmin);
  color          : rgb(0, 0, 0);
  font-family    : "Poppins";
  font-size      : 0.2em;
  transition     : 0.5s;
  word-spacing   : 1em;
  text-indent    : -1em;
  text-transform: capitalize;
  text-shadow    : 0px 0px rgba(0, 0, 0, 0.7);
  /* animation   : spacing 5s ease-in-out infinite; */
}
@keyframes spacing {
  95% {
    word-spacing: 4em;
          /* text-indent    : -2em; */
  }
}
@media screen and (max-width: 769px) {
  .main-logo {
    font-size     : 6.2em;
    padding       : 30vh 0 20vh 0;
    letter-spacing: 0em;
  }
}

.App-link {
  color: #14C38E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Projects, #About {
  margin-top   : 10em;
  border-radius: 50px;
}

#Projects>div, #About>div {
  padding         : 50px;
  border-top      : 7px solid var(--ascent-col);
  border-bottom   : 7px solid var(--ascent-col);
  border-radius   : 50px;
  padding-bottom  : 50px;
  background-color: var(--bg-col2);
  box-shadow      : 0 0 25px rgba(0, 0, 0, 0.226);
  margin-bottom   : 5em;
}
#Projects>header, #About>header {
  margin-top    : 0.5em;
  margin-bottom : 1em;
  font-size     : 6em;
  font-style    : italic;
  letter-spacing: 1em;
  text-indent   : 1em;
  text-transform: uppercase;
  width         : 100%;
  left          : 0;
}
#Projects h1, #About h1 {
  text-align    : center;
  font-weight   : 500;
  font-size     : 3em;
  text-transform: uppercase;
  letter-spacing: 0.45em;
  text-indent   : 0.45em;
}
#Projects p, #About p {
  text-align : center;
  font-size  : 2em;
  margin     : 50px 50px;
  font-weight: 500;
}

.float-right { float: right; }
.float-left { float: left; }

#Projects img, video, #About img, video{
  justify-content: center;
  width          : 80%;
  box-shadow     : 0px 0px 35px rgba(0, 0, 0, 0.623);
  border-radius  : 25px;
  margin         : 50px 0 0 0;
}
@media screen and (max-width: 769px) {
  
  #Projects>div, #About>div {
    margin : 1em;
    padding: 20px 0 20px 0;
  } 
  #Projects>header, #About>header {
    margin-top    : 0.5em;
    font-size     : 2.5em;
    letter-spacing: 1em;
    text-indent   : 1em;
    text-transform: uppercase;
  }
  #Projects h1, #About h1 {
    letter-spacing: 0.25em;
    text-indent   : 0.25em;
    font-size     : 1.8em;
  }
  #Projects p, #About p {
    text-align: center;
    font-size : 1.5em;
    margin    : 15px;
  }
  #Projects img, #About img {
    width : 95%;
    margin: 10px 0 0 0;
  }
  #Projects img, video, #About img, video{
    margin: 10px 0 0 0;
  }
}

.slider-container {
  position: relative;
  width   : 50%;
  height  : 50%;
}

.slider-container img {
  position  : absolute;
  top       : 0;
  left      : 0;
  opacity   : 1;
  transition: opacity 1s ease-in-out;
}

.slider-container img:last-child {
  opacity: 0;
}

.slider-container img:last-child.fade-in {
  opacity: 1;
}

.slider-container img:first-child.fade-out {
  opacity: 0;
}